.detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-heading {
  display: flex;
  justify-content: center;
  padding: 0px 30px;
}

.attributes {
  padding: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title {
  font-weight: 600;
  font-size: 20px;
}

.pokemon_pic {
  height: 250px;
  padding: 20px;
  border-radius: 
}

.lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
}

.list-info {
  padding: 10px 72px;
}
.list-items {
  list-style: none;
  padding: 8px;
  
}
