.site-card-border-less-wrapper {
  background: #ececec;
  padding: 30px;
}

img {
  background-color: rgba(195, 111, 9, 0.233);
  border-radius: 26%;
  margin-bottom: 0em;
  
}

.ant-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.ant-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.poke-id {
  font-size: 9px;
  font-weight: 600;
  padding-bottom: 14px;
}

.ant-card-body {
  padding: 0px 0px 20px 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content {
  display: contents;
  align-items: center;
}

.card-content p {
  line-height: 0.5em;
}

ul.types-list {
  display: contents;
}

li.pokemon-type {
  background-color: darksalmon;
  border-radius: 15px;
  padding: 0 5px;
  color: white;
  font-weight: 600;
  margin: 5px 0;
}

.pokemon-image {
  width: 148px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: flex-start;
}

.pagination-select {
  padding: 3px 8px;
  margin-left: 1px;
  color: rgb(50, 66, 110);
}
.pages-list {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  list-style: none;
}
.page-item {
  padding: 0px 1px;
}
.page-link {
  border: solid rgb(10, 10, 10) 1px;
  padding: 4px 8px;
  color: rgb(3, 58, 160);
}
.page-select {
  padding: 14px;
  border: solid rgb(10, 10, 10) 4px;
}
