.buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  width: 100vw;
}

.pagination {
  padding: 20px;
}
.pagination-buttons {
  padding: 2px;
}

.search-field {
  width: 30vw;
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
}

.spinner {
  margin-top: 250px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cached-enabled {
    display: flex;
    align-items: start;
}

#cached-enabled .spinner-small {
  width: 20px;
  padding: 2px;
}